<md-toolbar>
  <div class="md-toolbar-tools">
    <md-button class="md-icon-button" aria-label="Menu" ng-controller="SideNavCtrl" ng-click="toggle()" ng-show="buttonVisible()">
      <md-icon md-svg-icon="menu"></md-icon>
    </md-button>
    <h2><span>Categories</span></h2>
  </div>
</md-toolbar>

<md-content class="md-padding" flex>
  <md-input-container md-no-float>
    <md-input type="search" placeholder="Search" ng-model="search"></md-input>
  </md-input-container>
  <md-list>
    <md-list-item class="md-2-line" ng-repeat="category in categories | filter:{name:search} | orderBy:'name'">
      <div class="md-list-item-text">
        <h4>{{category.name}}</h4>
        <p>{{category.description}}</p>
      </div>
    </md-list-item>
  </md-list>

  <md-button class="md-fab md-fab-bottom-right" aria-label="Add Category" href="#/categories/add">
    <md-icon md-svg-src="add"></md-icon>
  </md-button>

</md-content>
