<md-toolbar>
  <div class="md-toolbar-tools">
    <md-button href="#/items" class="md-icon-button" aria-label="Menu" ng-controller="SideNavCtrl">
      <md-icon> arrow_back </md-icon>
    </md-button>
    <h2><span>{{action}} Item</span></h2>
  </div>
</md-toolbar>

<md-content class="md-padding" flex>
  <form ng-submit="save()">
    <md-input-container flex>
      <label>Name</label>
      <input type="text" ng-model="item.name">
    </md-input-container>
    <md-input-container flex>
      <label>Description</label>
      <textarea ng-model="item.description" columns="1" md-maxlength="500"></textarea>
    </md-input-container>
    <md-input-container flex>
      <label>Price (€)</label>
      <input type="number" step="0.01" ng-model="item.price">
    </md-input-container>
    <!--<md-input-container flex>-->
    <!--  <md-select ng-model="item.category" placeholder="Category">-->
    <!--    <md-option ng-repeat="category in categories" value="{{category._id}}">{{category.name}}</md-option>-->
    <!--  </md-select>-->
    <!--</md-input-container>-->
    <!--<md-input-container flex>{{categoriesAc.selectedItem}}-->
      <md-chips ng-model="item.category" md-autocomplete-snap md-require-match>
        <md-autocomplete
            md-selected-item="categoriesAc.selectedItem"
            md-search-text="categoriesAc.searchText"
            md-items="item in categoriesAc.querySearch(categoriesAc.searchText)"
            md-item-text="item.name"
            md-selected-item-change="null"
            md-search-text-change="null"
            placeholder="Search for a category">
          <span md-highlight-text="categoriesAc.searchText">{{item.name}}</span>
        </md-autocomplete>
        <md-chip-template>
          <span>
            <strong>{{$chip.name}}</strong>
          </span>
        </md-chip-template>
      </md-chips>
    <!--</md-input-container>-->
    <md-button class="md-raised md-primary">Save</md-button>
  </form>
  <div layout="row" layout-align="center center" class="md-padding">
      <md-progress-circular md-mode="indeterminate" ng-show="loading"></md-progress-circular>
  </div>
</md-content>
